[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Launch Spotify
Comment=
Exec=spotify
TryExec=spotify
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
