[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uppercenter/Desktop/HighresScreenshot00004.png]
row=8
col=0

[/home/uppercenter/Desktop/Explore Fushimi Inari.desktop]
row=0
col=1

[/home/uppercenter/Desktop/HighresScreenshot00001.png]
row=5
col=0

[/home/uppercenter/Desktop/steam.desktop]
row=1
col=0

[/home/uppercenter/Desktop/HighresScreenshot00006.png]
row=10
col=0

[/home/uppercenter/Desktop/HighresScreenshot00003.png]
row=7
col=0

[/home/uppercenter/Desktop/Mrdalssandur, Iceland.desktop]
row=3
col=0

[/home/uppercenter/Desktop/HighresScreenshot00000.png]
row=4
col=0

[/home/uppercenter/Desktop/HighresScreenshot00005.png]
row=9
col=0

[/home/uppercenter/Desktop/Projects]
row=0
col=0

[/home/uppercenter/Desktop/Risk of Rain 2.desktop]
row=2
col=0

[/home/uppercenter/Desktop/HighresScreenshot00002.png]
row=6
col=0

[/home/uppercenter/Desktop/Services]
row=1
col=1

[/home/uppercenter/Desktop/HighresScreenshot00008.png]
row=12
col=0

[/home/uppercenter/Desktop/HighresScreenshot00007.png]
row=11
col=0

