[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uppercenter/Desktop/Projects]
row=5
col=0

[/home/uppercenter/Desktop/ArcoLinux_2020-04-30_15-18-47.png]
row=6
col=0

[/home/uppercenter/Desktop/notes.md]
row=4
col=0

